.PreNav{
    background-color: rgb(29, 28, 28);
    display: grid;
    grid-template-columns: 5fr 2fr;
    color: white;
}

.PreNav > div{
    padding: 0 4vmax;
    display: flex;
    align-items: center;
}

.PreNav > div > span{
    font-size: 1vmax;
    font-weight: 100;
    color: rgba(180, 180, 180, 0.644);
}

.PreNav > div > a{
    color: rgb(180, 180, 180);
    font-size: 1vmax;
    font-weight: 300;
    margin: 1vmax;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.PreNav > div > a:hover{
    color: white;
}

