.videoCard{
    width: 30vmax;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: no-repeat;
    background-size: cover;
    margin: 0.5vmax;
    cursor: pointer;

}

.videoCard > a{
    padding: 2.5vmax;
    transition: all 0.5s;
    border: none;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.096);
}

.videoCard > a > svg{
    fill: rgb(255, 255, 255)
}

.videoCard:hover a{
    padding: 2.5vmax;
    transition: all 0.5s;
    border: none;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.696);
    color: white;
}

.videoCard p{
    color: white;
    margin: 1vmax;
    font-family: 'Tektur', cursive;
}